.activities
  = link_to "Dashboard", group_path, class: "button2" 
  = link_to "Chat", user_path, class: "button2" 
  = link_to "Members", member_path, class: "button2" 
  = link_to "Events", user_path, class: "button2" 
  = link_to "Fotos", user_path, class: "button2" 
  = link_to "Videos", user_path, class: "button2" 
  = link_to "Files", user_path, class: "button2" 
  = link_to "Manage", user_path, class: "button2" 