= render "layouts/nav"

#groupindex
	#groups
		%br
		- if user_signed_in?
			.indexactivities
				= link_to " + Create Group", new_group_path, class: "addpost"
		%br	
			- @groups.each do |group|
				.group
					.group_image
						- if group.image.nil?
							= link_to (image_tag "/assets/images/celogo.png"), group
						- else
							= link_to (image_tag group.image.url(:small)), group 
					.group_content
						-if group.title.nil?
							.title
								this video link is no longer available
						-else
							.title
								%h2= link_to truncate(group.title, :length => 30), group
	-##ad
		-#%br
		-#%h2 Ad
		-#%hr
		-#%br	
		-#= render "layouts/ad2"

	%br	
	%br				
	.pagination
		= will_paginate @groups 