= render "layouts/nav"
.activities
	= link_to "Search", user_path(current_user), class: "button2"
	= link_to "Add Group", new_group_path, class: "button2"
	

#groupindex
	#groups
		%br
		%h2 Groups
		%hr
		%br	
			- @groups.each do |group|
				.group
					.group_image
						- if group.image?
							= link_to (image_tag group.image.url(:small)), group
						- else
							= link_to (image_tag "/assets/images/celogo.png"), group 
					.group_content
						.title
							%h2= link_to group.title, group
	#ad
		%br
		%h2 Ad
		%hr
		%br	
		= render "layouts/ad2"