= render "layouts/nav"

#groupindex
	.activities
		- if user_signed_in?
			-#= link_to "Search", user_path(current_user), class: "button2"
			= link_to " + Create Group", new_group_path, class: "button2"
	#groups
		%br
		%h2 Groups
		%hr
		%br	
			- @groups.each do |group|
				.group
					.group_image
						- if group.image?
							= link_to (image_tag group.image.url(:small)), group
						- else
							= link_to (image_tag "/assets/images/celogo.png"), group 
					.group_content
						.title
							%h2= link_to truncate(group.title, :length => 30), group
	-##ad
		-#%br
		-#%h2 Ad
		-#%hr
		-#%br	
		-#= render "layouts/ad2"

	%br	
	%br				
	.pagination
		= will_paginate @groups 