= render "layouts/dashboardnav"

#groupindex
	#groups
		%br
			.indexactivities
				- if user_signed_in?
					.addgroup 
						= link_to " + Create Group", new_group_path
				= link_to '<i class="fa fa-map-marker"></i> Map'.html_safe, map_path, method: :get
				.searchgroups
					.sgicon
						%i.fa.fa-search
		.sectionline
		%br	
			- @groups.each do |group|
				.group
					.group_image
						- if group.image.nil?
							= link_to (image_tag "/assets/images/celogo.png"), group
						- else
							= link_to (image_tag group.image.url(:small)), group 
					.group_content
						-if group.title.nil?
							.title
								%h2 this group title is no longer available
						-else
							.title
								%h2= link_to truncate(group.title, :length => 30), group
	-##ad
		-#%br
		-#%h2 Ad
		-#%hr
		-#%br	
		-#= render "layouts/ad2"

	%br	
	%br				
	.pagination
		= will_paginate @groups 