= render "layouts/nav"
.grouptitle
  = link_to @group.title, group_path, class: "button3"
= render "dashboard"
  
#group_show
  .clearfix
    .group_image_description
      %br
      Description
      %br
      %hr
      %br
      = @group.description
    .group_data
      = link_to "Website", @group, class: "button"
      = link_to "Join this group", join_group_path(@group), class: "button"
      = link_to 'leave', leave_group_path(@group), class: "button" 
      = image_tag "http://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=10&markers=#{@group.latitude}%2C#{@group.longitude}"
      %p.data
        = link_to "Edit", edit_group_path(@group), class: "data"
        = link_to "Delete", group_path(@group), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
        

