= render "layouts/nav"
#group_show
  = render "dashboard"
  .group_image_description
    %br
    %h2
      Info
    %br
    %hr
    %br
    = @group.description
  .group_data
    .groupwebsite
      = link_to "Website", @group, class: "button"
      - if user_signed_in?
        = link_to "Join Group", members_path(:group_id => @group.id), :method => :post, class: "button" 
    = image_tag "http://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=10&markers=#{@group.latitude}%2C#{@group.longitude}"
    %p.data
    - if @group.user == current_user
      = link_to "Edit", edit_group_path(@group), class: "data"
      = link_to "Delete", group_path(@group), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
      

