= render "layouts/nav"
	
.contentpage
	#videos
		%br
		- if user_signed_in?
			.indexactivities
				= link_to " + Add Video", new_video_path(current_user), class: "addpost"
		%br	
		- cache('video_cache', :expires_in => 12.hour) do 
			- @videos.each do |video|
				-if video.link.nil?
					this video link is no longer supported
				-else
					- @youtube = OEmbed::Providers::Youtube.get(video.link)
				.video
					.video_image
						-if @youtube.thumbnail_url.html_safe.nil?
							no image
						-else
							= link_to (image_tag @youtube.thumbnail_url.html_safe), video
					.video_content
						.title
							-if @youtube.title.html_safe.nil?
								no longer available
							-else
								%h2= link_to truncate(@youtube.title.html_safe, :length => 40), video

	-#ad
		-#%br
		-#%h2 Ad
		-#%hr
		-#%br
		-#= render "layouts/ad2"
	.pagination
		= will_paginate @videos 