= render "layouts/nav"
	
.contentpage
	#videos
		%br
		- if user_signed_in?
			.indexactivities
				= link_to " + Add Video", new_video_path(current_user), class: "addpost"
		%br	
		- cache('video_cache', :expires_in => 1.minute) do 
			- @videos.each do |video|
				- @youtube = OEmbed::Providers::Youtube.get(video.link)
				-if @youtube.blank?
					.video
						.video_image
							%p hello
						.video_content
							.title
								%h2 not working
				-else
					.video
						.video_image
							= link_to (image_tag @youtube.thumbnail_url.html_safe), video
						.video_content
							.title
								%h2= link_to truncate(@youtube.title.html_safe, :length => 40), video

	-#ad
		-#%br
		-#%h2 Ad
		-#%hr
		-#%br
		-#= render "layouts/ad2"
	.pagination
		= will_paginate @videos 