#posts
	- @videos.each do |video|
		.post
			.post_image
				= link_to (image_tag video.image.url(:small)), video
			.post_content
				.title
					%h2= link_to video.title, video
				.data.clearfix
					%p.username
						Shared by
						= video.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= video.comments.count


.paginate
	= will_paginate @Videos 