= render "layouts/nav"
#video_show
  %h1= @youtube.title.html_safe 
  %p.username
    Shared by
    = @video.user.name
    about
    = time_ago_in_words(@video.created_at)
  .clearfix
    .video_image_description
      = @youtube.html.html_safe
      .description= simple_format(@video.description)
    .video_data
      = link_to "Official Link", @video.link, class: "button"
      = link_to "favorite", @video, class: "button"
      %p.data
      - if @video.user == current_user
        = link_to "Edit", edit_video_path(@video), class: "data"
        = link_to "Delete", video_path(@video), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
    #random_post
      %h3 Ad
      .video
        .video_image
          = render "layouts/ad1"
.disques
  = render "disqusv"