<%= render "layouts/nav" %>
<div class="aboutbox">
	<div class="jumbotron">
	  <h1>About</h1>
	  <p>Conserving Earth is currently in Aplha/Prototype fase of its development. Alot has to be added and fixed. </p>
	  <h1>Github</h1>
	  <p>Everyone is welcome to contribute. As I've only just tipped my toe in to the world of web developemnt, everything might take a little longer to implement </p>
	  <a class="button" href="https://github.com/ConservingEarth/ConservingEarth">Link to Github</a>
	  <h1>Email</h1>
	  <p> Please send any questions, feedback or anything else to our email  </p>
	  <p>conservingearth@gmail.com</p>
	  <div class="jbimages">
	  	<%= image_tag('fblogo.png') %>
	  	<%= image_tag('twitter.png', size: "30x30") %>
	  	<%= image_tag('YT.png')%>
	  	<%= image_tag('github.png')%>
	  </div>
	</div>
<!-- 
	<div class="jumbotron">
	  <h1>Facebook</h1>
	  <p>Check out the Conserving Earth Facebook </p>
	  <p><a class="button" href="https://www.facebook.com/ConservingEarth/">Link to Facebook</a></p>
	</div>
	
	<div class="jumbotron">
	  <h1>Github</h1>
	  <p>Everyone is welcome to contribute. As I've only just tipped my toe in to the world of web developemnt, everything might take a little longer to implement </p>
	  <p><a class="button" href="https://github.com/ConservingEarth/ConservingEarth">Link to Github</a></p>
	</div>

	<div class="jumbotron">
	  <h1>Reddit</h1>
	  <p>All Suggestion, News, Information can be posted and discussed</p>
	  <p><a class="button" href="http://www.reddit.com/conservingearth">link to reddit</a></a></p>
	</div>

	<div class="jumbotron">
	  <h1>Twitter</h1>
	  <p>If in need of a quick response, or any updates </p>
	  <p><a class="button" a href="http://www.twitter.com/conservingearth">Link to Twitter</a></p>
	</div>

	<div class="jumbotron">
	  <h1>Youtube</h1>
	  <p>Our youtube channel</p>
	  <p><a class="button" a href="http://www.youtube.com/conservingearth">Link to Youtube</a></p>
	</div>
 -->
	<!-- <div class="jumbotron">
	  <h1>IRC</h1>
	  <p>IRC might be an easy way to chat: ConservingEarth@quakenet</p>
	</div> -->
	

	
</div>