= render "layouts/dashboardnav" 
#eventindex
	#events
		%br
		- if user_signed_in?
			.indexactivities
				= link_to " + Create Event", new_event_path, class: "addpost"
				%br
		- @events.each do |event|
			.event
				.event_content
					.title
						%h2= link_to truncate(event.title, :length => 60), event
					.title
						%h2= event.location
					%p 
						Starts at:
						= event.starts_at
					%p  
						Ends at:
						= event.ends_at
