= render "layouts/nav"
#new_show
	%h1= @event.title
	%br
	%p= @event.description
	%br	
	%p= @event.starts_at
	%br
	%p= @event.ends_at
	%br
	%p= @event.published
	%br
	%p= @event.email_info
	%br
	%p= @event.capacity
	%br
	%p= @event.announced
	%br
	- if @event.user == current_user
		%p= link_to "Edit Event", edit_event_path(@event), class: "c3-btn"
