<%= render 'layouts/dashboardnav' %>
	
<div id="projectindex">
	<div id="projects">
		<br>
		<% if user_signed_in? %>
			<div class="indexactivities">.
				<%= link_to " + Add Project", new_project_path(current_user), class: "addpost" %>
			</div>
		<% end %>	
		<br>	
		<% cache('video_cache', :expires_in => 12.hour) do %>
			<% @projects.each do |project| %>
				<div class="project">
					<div class="project_image"> 
						<%= link_to (image_tag project.image), project %>
					</div>
					<div class="project_content"> 
						<div class="title"> 
							<h2>
								<%= project.name %>
							</h2>
						</div>
					</div>
				</div>		
			<% end %>
		<% end -%>
	</div>
	<div class="pagination"> 
		<%= will_paginate @projects %>
	</div>
</div>