<div class="login">
  <div class="signupcontainer">
    <div class="formcontainer">
      <div class="form">
      <%= image_tag "CElogo200.png", class: "conservingearthloginlogo" %>
      <br>
      <br>
        <h2>Log in</h2>
        <br>
        <%= simple_form_for(resource, :as => resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
            <%= f.email_field :email, required: true, :placeholder => "Email", class: "form-content" %>
            <br>
            <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), :placeholder => "Password", class: "form-content" %>
            <br>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.button :submit, "Log In", class: "btn btn-default c3-btn" %> 
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
        <br>
        <%= link_to "Cancel", root_path, class: "btn btn-default c3-btn" %>   
      </div>
    </div>
  </div>
</div>
