<div class="login">
  <div class="signupcontainer">
    <div class="form">
      <h2>Log in</h2>

      <%= simple_form_for(resource, :as => resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <%= f.email_field :email, required: true, :placeholder => "Email" %>
          <br>
          <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), :placeholder => "Password" %>
          <br>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit, "Log In", class: "btn-submit" %> 
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
