= render "layouts/nav" 
.usercontent
	.userinfo
		.useravatar
			= image_tag @user.avatar.url(:medium) 
		.userdetails
			%h1
				= @user.name
			%p
				-#= link_to "Add Friend", @friendships_path(:friend_id => @user), :method => :post 
				-#= link_to "friends", @friendships_path 
				-#= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post
				-#= link_to "Events", event_path(@user_id)
				-#= link_to "Inpact", inpact_path(@user_id)
				- if @user == current_user
					= link_to "Manage", edit_user_registration_path(current_user), class: "button2" 
	.userdescription
		%p 
			= @user.description