= simple_form_for @post, html: {multipart: true }, validate: true do |f|
	- if @post.errors.any?
		#errors
		%h2
		= pluralize(@post.errors.count, "error")
		prevent this post from saving
		%ul
			- @post.errors.full_messages.each do |msg|
				%li= msg

	.form-group
		= f.input :link, imput_html: {class: 'form-control'}

	.form-group
		= f.input :title, imput_html: {class: 'form-control'}

	.form-group
		= f.input :description, imput_html: {class: 'form-control'}

	.form-group
		= f.input :tag_list, imput_html: {class: 'form-control'}
		
	 
	
	= f.button :submit, class: "btn btn-primary"