#news
	- @posts.each do |post|
		.new
			.new_image
			.new_content
				.title
					%h2= link_to post.title, post.link
					%p.username
						Shared by
						= post.user.name
						= time_ago_in_words(post.created_at)
						ago
					%p.buttons
						%span
							= link_to "Comments", post
							%i.fa.fa-comments-o
							= post.comments.count
%br	
%br				
.paginate
	= will_paginate @posts 