= render "layouts/nav"
 
#thenews
	#news
		%br
		- if user_signed_in?
			.indexactivities
				= link_to " + Add News", new_post_path, class: "addpost"
		%br
		- @posts.each do |post|
			.new
				.new_content
					.title
						%h2 
							=link_to truncate(post.title, :length => 60), post.link 
						%br
						%p.username
							Shared by
							= post.user.name
							= time_ago_in_words(post.created_at)
							ago
						%p.buttons
							%span
								= link_to "Comments", post

	#tweets
		%br
		%br
		= render 'tweets'
	-##ad
		-#%br
		-#%h2 Ad
		-#%hr
		-#%br
		-#= render "layouts/ad2"

	%br	
	%br				
	.pagination
		= will_paginate @posts 