= render "layouts/nav"
	#new_show
		%h1= @post.title
		%p.username
			Shared by
			= @post.user.name
			about
			= time_ago_in_words(@post.created_at)
		.clearfix
			.new_image_description
				= @post.description
			.new_data
				= link_to "Official Link", @post.link, class: "button"
				= link_to "Follow", class: "button"
				%p.data
					%i.fa.fa-comments-o
					= pluralize(@post.comments.count, "Comment")
				- if @post.user == current_user
					= link_to "Edit", edit_post_path(@post), class: "data"
					= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
			#random_post
				%h3 Ad
				.new
					.new_image
						= link_to "image", post_path(@random_post)
					.new_content
						.title
							%h2= link_to @random_post.title, post_path(@random_post)




		= render "disqusp"