<div class="fullnav">
<div class="header">
		<nav class="navhead">
			<div class="logo">
				<i class="fa fa-bars"></i>
				<%= link_to "Conserving Earth", root_path %>
				<div class="logoimg"></div>
				<div class="home"></div>
			</div>
			<% if user_signed_in? %>	
			<div class="userlogin">
				<%= current_user.name %>
				<i class="fa fa-angle-down"></i>
				<div class="usermenu">
					<ul>
						<li><%= link_to "Dashboard", user_path(current_user) %></li>
						<li><%= link_to "Community", community_path %></li>
						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
					</ul>
				</div>
			<% else %>
				<%= link_to "sign in", new_user_session_path, class: "button" %>
				<%= link_to "sign up", new_user_registration_path, class: "button" %>
			<% end %>
			
			</div>
			<div class="search1">
				<form>
					<input type="text" placeholder="search">
					<i class="fa fa-search"></i>
				</form>
			</div>
			
		</nav>
	</div>				   
        <!-- Sidebar -->
	        <div class="sidebar">
	            <ul class="sidebar-nav">
		            <li><%= link_to '<i class="fa fa-newspaper-o"></i> News'.html_safe, root_path, :class => "sidebar-nav-links" %></li>
		            <li><%= link_to '<i class="fa fa-video-camera"></i> Videos'.html_safe, videos_path, :class => "sidebar-nav-links" %></li>
		            <li><%= link_to '<i class="fa fa-leaf"></i> Groups'.html_safe, groups_path, :class => "sidebar-nav-links" %></li>
					<li><%= link_to '<i class="fa fa-map-marker"></i> Map'.html_safe, map_path, :class => "sidebar-nav-links" %></li>
	                <li><%= link_to '<i class="fa fa-info"></i> About'.html_safe, about_path, :class => "sidebar-nav-links" %></li>
	              </ul>
	        </div>
	        <script type="text/javascript">
					$(document).ready(function() {
						$(".fa fa-angle-down").click(function(){
							alert( "Handler for .click() called." );
					});
			</script>
</div>
